body,
html {
  height: 100%;
  margin: 0 auto;
  letter-spacing: 2px;
  font-size: 10px;
}

/*固定する背景*/
.box {
  box-sizing: border-box;
  color: #FFF;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
}
.parallax-bg {
  background-image: url('https://images.unsplash.com/photo-1491466424936-e304919aada7');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*スクロールするコンテンツ*/
.scrollbox {
  background-color: #111;
}

.reference {
  font-size: 32px;
  .title {
    text-align: center;
  }
  ul {
    margin-top: 32px;
  }
}
